---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% if page.categories contains 'Batman.js' %}
  <div class='batmanjs-warning'>
      To my knowledge, <a href="http://github.com/batmanjs/batman">batman.js</a> is not maintained. For that reason, I don't suggest that you use it for a new project!
  </div>
  {% endif %}

  {% include article.html %}
  <footer>
    <p class="meta" style="color: #999999;">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    <div class="other-posts">
      {% if page.previous.url %}
        <div class="prev-post">
          <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
        </div>
      {% endif %}
      {% if page.next.url %}
        <div class="next-post">
          <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
        </div>
      {% endif %}
    </p>
  </footer>
</article>
</div>
{% unless page.sidebar == false or site.sidebar == false %}
  <aside class="sidebar">
    This should be hidden.
    {% if site.post_asides.size %}
      {% include_array post_asides %}
    {% else %}
      {% include_array default_asides %}
    {% endif %}
  </aside>
{% endunless %}
