// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$rm-logo: image-url("/images/hood-ornament-image2.png");
$phone: "(max-width: 800px)";
html {
  background-color: $page-bg;
  body {
    padding: 10px;
  }
}

blockquote {
  color: #777 !important;
  line-height: 1.3em !important;
  font-size: 1em !important;
}
h1 {
  font-size: $h1-font-size !important;
  line-height: $h1-font-size * 1.2 !important;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.serif-link {
  float:none;
  color: $nav-color;
  font-family: $serif !important;
  &:hover {
    text-decoration:none;
    text-shadow: white 1px 1px 2px;
  }
}
nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  img {
    max-height: 50px;
    float: left;
    margin-right: 10px;
  }
  ul.main-navigation{
    float: none;
    text-align: center;
    li {
      float: none;
      a {
        @extend .serif-link;
      }
    }
  }
}

footer {
  a {
    @extend .serif-link;
  }
}
header {
  padding: 0 !important;
  hgroup {
    text-align: center;
    img {
      padding: 5px;
    }
  }
}


#content {
  article {
    header {
      padding:0;
      p.meta {
        position: relative !important;
        text-transform: none !important;
        float: right;
        time {
          font-size: $body-font-size * .8;
        }
      }
    }
    ul, ol {
      li {
        margin-left: 20px;
      }
    }

    ol {
      margin-bottom: 10px;
    }
  }
}

.batmanjs-warning {
  background:#FFEABD;
  text-align:center;
  padding:10px;
  font-size:20px;
  font-style:italic;
  font-family:"Gentium Book Basic";
  font-weigth: bold;
}

ul.subscription {
  transform: scale(0.8, 0.8);
}

.talks-page {
  .talk {
    &:after, &:before {
      content: " ";
      clear: both;
      display: table;
    }
    .talk-image {
      float: left;
      width: 20%;
      a {
        text-decoration: none;
        white-space: normal;
      }
      img {
        max-width: 100%;
      }
      @media #{$phone} {
        width: 100%;
        float: none;
      }
    }
    .talk-description {
      margin-left: 15px;
      float: left;
      width: 70%;
      @media #{$phone} {
        width: 100%;
        float: none;
      }
      .talk-title {
        margin-bottom: 5px;
      }
      .talk-given-at {
        color: #999;
        margin-bottom: 5px;
      }
    }
  }
  ul, li {
    list-style: none;
    margin: 0px;
    padding: 10px;
  }
}
