// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

a { 
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}